@import '../../styles/colors.scss';
@import '../../styles/font-face.scss';

.itemsList{
    max-width: 970px;
    margin: 0 auto;
    border: 1px solid gray;
    display: flex;
    width: 100%;   
    ul{
      list-style-type: none;
      padding: 0;
      margin: 20px;
      width: 100%;  
      li{
        border-bottom: 1px solid gray;
        padding: 15px 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .news-wrap{
          width: 85%;
          display: flex;
          flex-direction: column;
        }
        .news-title{
          color: grey;
          font-weight: 400;  
        }
        .btns-wrap{
          width: 15%;
          text-align: right;
        }
        button{
          background-color: transparent!important;
          border: none;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    } 
  }
.itemsListUl {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    width: 100%; 
    text-align: left;
    font-size: 1.8rem;
}
.newsTitle{
    color: grey;
    font-weight: 400;  
}
.newsLoading{
  font-size: 1.8rem;
  color: var(--dark-yellow);
}