.inputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 9rem;
}
.formContainer{
  margin-top: 2rem;
}

input {
  font-family: var(--Roboto-Regular);
  color: var(--black);
  font-size: 1.4rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  outline: none;
  border: 1px solid #e3e9ed;
  height: 3.4rem;
  &::placeholder {
    font-style: normal;
    color: var(--placeholder-input);
    font-family: var(--Roboto-Regular);
  }
}
.inputLabel {
  color: var(--gray);
  font-size: 1.4rem;
  font-family: var(--Roboto-Regular);
  display: flex;
  justify-content: space-between;
}
.errorLabel {
  line-height: 1.4;
  font-size: 1.2rem;
  font-family: var(--Roboto-Regular);
  color: var(--bright-red);
  display: block;
}

textarea {
  font-family: var(--font-normal);
  color: var(--black);
  font-size: 1.4rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
  outline: none;
  border: 1px solid #e3e9ed;
  height: 6.4rem;
  max-width: 100%;
  &::placeholder {
    color: var(--placeholder-input);
    font-style: normal;
    font-family: var(--font-light);
  }
}

.btnsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}
.saveBtn {
  border: none;
  min-width: 8.5rem;
  height: 4rem;
  background-color: var(--primary-button);
  &:hover {
    background-color: var(--dark-yellow);
  }
}
.formTitleBold {
  font-size: 1.8rem;
  font-family: var(--font-medium);
  color: var(--black);
  font-weight: bold;
  text-align: left;
  margin-bottom: 3rem;
}
