@import "../../styles/colors.scss";
@import "../../styles/font-face.scss";

.overlayBackground {
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.overlay {
  position: fixed; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popupBody {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: stretch;
  margin-top: -2rem;
}
.popup {
  background: white;
  border: 1px solid #e3e9ed;
  padding: 3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 630px;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.popupWrap {
  margin: 0px;
  color: var(--black);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.titlesWrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.closeBtn {
  border: none;
  background-color: transparent;
  z-index: 1;
}
